@font-face {
    font-family: "Roboto";
    src: local("RobotoMedium"),
    local("Roboto-Medium"),
    url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.svg") format("svg");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"),
    local("RobotoRegular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"),
    local("RobotoBold"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay-Medium"),
        local("PlayfairDisplay Medium"),
        url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay-Medium.woff") format("woff"),
        url("../fonts/PlayfairDisplay-Medium.svg") format("svg");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: local("Bitter-Regular"),
    local("BitterRegular"),
    url("../fonts/Bitter-Regular.woff2") format("woff2"),
    url("../fonts/Bitter-Regular.woff") format("woff"),
    url("../fonts/Bitter-Regular.svg") format("svg");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    /*padding-right: 20px;*/
    background-color: #E5E5E5;
}

.header-center {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
} 

.menu {
    position: relative;
    height: 137px;
}

/*.menu-wrapper {
    background-color: aquamarine;
}*/
/*.button-menu {
    background-color: white;
    border: none;
    height: 137px;
    background-color: #E5E5E5;
}*/

.menu-img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-dropdown {
   /* background-color: white;*/
    position: absolute;
    z-index: 100;
    left: 40%;
    right: 40%;
    bottom: 1px;
    display: none;
}

.links-for-sections {
    list-style-type: none;
}

.menu-link {
    display: inline-block;
    background-color: brown;
    width: 2em;
    height: 2em;
    padding-top: 1em;
}

.menu-wrapper:hover  .menu-dropdown {
    display: block;
}

/*.hero-section {
    position: relative;
    background-color: red;
    margin: 0 auto;
    background-image: url("../images/img-hero.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    max-width: 100%;
    height: 630px;
 } использую для установки картинки фоном, размеры совпадают, но при сжатии появляется горизонтальный скролл:((  */


.hero-section {
    position: relative;
    margin: 0 auto;
    height: 630px;
   /* background-color: white;*/
    max-width: 100%;
    margin-bottom: 10.5%;
}   /*использую, если картинку не ставить фоном в этот блок, скролл отсутствует, но размеры при увеличении масштаба "плывут"*/
    

.div-for-img-hero{
    position: absolute;
    /*background-color: yellow;*/
    background-image: url("../images/img-hero.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    height: 630px;
    max-width: 100%;
    left: 13%;
    right: 13%;
} /*устанавливала контейнер для обертки картинки (только картинки .img-hero и вместе с .hero-box), появляется горизонтальный скролл и меняются размеры .hero-box*/

.img-hero {
    position: absolute;
    left: 13%;
    right: 14%;
    width: 74%;
    height: 630px;
    margin: 0 auto;
 }

.header-box {
    background-color: #FFFFFF;
    margin: 0 auto;
    max-height: 57%;
    height: 360px;
    max-width: 35%;
    width: 47%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

h1, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 86px;
}

.header-title {
    /*margin: 110px 20px 14px 20px;*/
    margin: 18.3% 3.33% 2.33% 3.33%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 18%;
}

.jobs, .span-jobs {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.blockquote {
    font-family: "Bitter", serif;
    font-size: 32px;
}

.biography {
    font-family: "Bitter", serif;
    font-size: 26px;
}

span {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.strengths {
    font-family: "Bitter", serif;
    font-size: 34px;
}

.biography-section {
    max-width: 100%;
    height: 840px;
    margin: 0 auto;
    margin-bottom: 10%;
}

.biography-section-wrapper {
    margin-left: 9.5%;
    margin-right: 9%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.8em;
}

.biography-title {
    transform-origin: 0 0;
    transform: rotate(270deg);
    margin-top: 4.55em;
    align-self: start;
}
.biography-img-wrapper {
    order: -1;
    max-width: 47%;
}

.biography-img {
    width: 100%;
    /* order: -1;*/
}

.biography-article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 41%;
}

.biography-article-title {
    /*height: 27%;*/
    margin-bottom: 5%;
    line-height: 1.35em;
    margin-top: 33.55%;
}

.biography-article-jobs {
   /*height: 5%;*/
    margin-bottom: 8%;
    color: #0d0d0d;
}

/*.biography-article-img {
    align-self: start;
    margin-bottom: 2%;
}*/

.biography-article-blockquote {
    padding-top: 4%;
    color: #0d0d0d;
}

.img-rectangle::before {
    content: "_";
    color: #0d0d0d;
    font-weight: bold; 
    font-size: 1.8em; 
}

.span-jobs::before {
    content: " / ";
    color: #0d0d0d;
}

.testimonials-section {
   background-color: blue;
   margin: 20% auto;
   padding: 0 9.5%;
   height: 813px;
   display: grid;
   grid-template-columns: 6% auto  1fr 19% 1fr;
   grid-template-rows: 7.5% 42% 1fr 45.5%;
   justify-content: center;
  /* align-items: start;*/
   grid-template-areas: 
   "title . . . .;"
   "list-item img-large . blockquote . ;"
   /*"list-item img-large img-large . ;"*/
   /*"list-item img-large img-large . . . ;"*/
  "list-item img-large . img-small . ;"
   /*"list-item img-large img-large . . . ;"*/
}

.testimonials-title {
   grid-area: 1 / 1 / 2 / 3;

}

/*.testimonials-list {
    grid-area: 2 / 1 / 3 / 2 ;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    list-style-type: none;
    justify-self: end;
}*/

.testimonials-img-large-wrapper {
    grid-area: 2 / 2 / 3 / 3 ;
}

/*.testimonials-blockquote-wrapper {
    grid-area:  2 / 3 / 3 / 4 ;
    justify-self: center;
}*/



.testimonials-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
    justify-content: start;
    background-color: pink;
    list-style-type: none;
    max-width: 3em;
    max-height: 100%;

}/*
/*.testimonials-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 8;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: end;
}*/

.testimonials-list-item {
    transform-origin: 0 0;
    transform: rotate(270deg);
}

/*.testimonials-item-creativity-1 {
   grid-row: 3/4;
}*/

/*.testimonials-item-creativity-2 {
    grid-row: 2/3;
}*/

.testimonials-item-website {
   /* grid-row: 1/2;  */
   order: -1;
}

/*.testimonials-img-large-wrapper {
    max-width: 36%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 8;  
}*/

/*.testimonials-img-large {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}*/

.testimonials-blockquote-wrapper {
    grid-area: 2 / 4 / 3 / 5;
    place-self: center ;
    height: 100%;
    padding-top: 35%;
}
/*.testimonials-blockquote {
   
}
*/

.testimonials-img-small-wrapper {
grid-area: 4 / 4 / 5 / 5 ;
}
/*.testimonials-blockquote {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}*/

/*.testimonials-img-small {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: -2;
    grid-row-end: -1;
}*/
